---
import { authors } from "@/data/authors";
import { Image } from "astro:assets";

type AuthorId = keyof typeof authors;

interface Props {
    author: AuthorId;
}

const { author } = Astro.props;

const info = authors[author];

if (!info) {
  throw new Error(`Unknown author: ${author}`);
}
---

<section class="author-card">

    <Image
    src={info.image}
    alt={info.name}
    class="author-card__image"
    loading="lazy"
/>

    <div class="author-card__content">

        <span class="author-card__label">
            نویسنده مقاله
        </span>

        <h2>{info.name}</h2>

        <p class="author-card__title">
            {info.title}
        </p>

        <p>
            {info.bio}
        </p>

        {info.credentials.length > 0 && (

            <ul class="author-card__credentials">
            
                {info.credentials.map((item) => (
            
                    <li>{item}</li>
            
                ))}
            
            </ul>
            
            )}

        {info.profileUrl && (
            <a
            href={info.profileUrl}
            class="author-card__link"
            >
            مشاهده صفحه معرفی پزشک
            </a>
            )}

    </div>

</section>